<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" />
    <link rel="stylesheet" type="text/css" href="/admin/static/css/coreui.min.css" />
  </head>
  <body>
    <div class="app flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="card-group mb-0">
              <div class="card p-4">
                <form class="card-block" action="/login" method="POST">
                  <% 
                    var inputClass = 'form-control'
                    var inputGroupClass = ' form-group'
                    var subtext = 'Pyncil Admin'
                    var subtextClass = 'text-muted'
                    
                    if (message.length > 0) {
                      inputClass += ' form-control-danger' 
                      inputGroupClass += ' has-danger'
                      subtext = message
                      subtextClass = 'text-danger'
                    }
                  %>
                  
                  <h1>Login</h1>
                  <p class="<%= subtextClass %>"><%= subtext %></p>
                  
                  <div class="input-group mb-3<%= inputGroupClass %>">
                    <span class="input-group-addon"><i class="icon-user"></i></span>
                    <input type="text" class="<%= inputClass %>" name="username" placeholder="Username">
                  </div>
                  <div class="input-group mb-4<%= inputGroupClass %>">
                    <span class="input-group-addon"><i class="icon-lock"></i></span>
                    <input type="password" class="<%= inputClass %>" name="password" placeholder="Password">
                  </div>
                  <div class="row">
                    <input type="hidden" name="_csrf" value="<%= csrf %>"></input>
                    <div class="col-12 text-right">
                      <button type="submit" class="btn btn-primary px-4">Login</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
